#textoDoble {
	width: 95%;
	/*float: left;*/
	margin-right: 5%;
	margin-bottom: 15px;
	background-color: white;
}
#fondoBlanco{
	background-color: white;
}
/*#textoDoble:nth-child(1) {
	margin-right: 2%;
}*/
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: rgb(0, 29, 190);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e9c600;
  font-weight: 400;
  border-radius: 0%;
  float: right;
  width: 12%;
  height: 5%;
}
#titulo{
text-align: center;
color: #577f95;
 margin-bottom: 1%;
}
#subTitulo{
text-align: center;
color: #507386;
font-size: small;
margin-bottom: 5%;
}
#captcha{
	margin-left: 35%;
	padding-bottom: 5%;
}
#letrasAmarillas{
	color: #e9c600;
}