<div>
	<!-- <div>
		<form >
			<div  class="contenedor">
				<input class="texto" type="text" placeholder="Nombre"/>
			</div>	
			<div class="contenedor">
				<input class="texto" type="text" placeholder="Apellidos"/>
			</div>	
			<div class="contenedor">
				<input class="texto" type="text" placeholder="Email"/>
			</div>	
			<div class="contenedor">
				<input class="texto" type="text" placeholder="Confirmar Email"/>
			</div>	
			<div class="contenedor">
				<input class="texto" type="text" placeholder="Nombre de empresa o autónomo"/>
			</div>	
			<div class="contenedorDoble">
				<input class="textoDoble" type="text" placeholder="NIF empresa o autónomo"/>
				<input class="textoDoble" type="text" placeholder="Código Postal"/>
			</div>
			<div>
				<button type="submit" >Suscribirme</button>
			</div>
		</form>
	
	
	</div>-->

	<div>
		<h1 id="titulo" >Mantente al día en PRL</h1>
		<h2 id="subTitulo">Si eres mutualista, suscríbete a nuestro newsletter para recibir nuestras novedades en prevención.</h2>
	</div>

	<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
		<div class="form-group">
		  <input placeholder="Nombre" id="fondoBlanco" type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel"
			[ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
		  <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
			<p *ngIf="name.errors.required">Campo requerido</p>
		  </div>
		</div>
	  
		<div class="form-group">
		  <input placeholder="Apellidos" id="fondoBlanco" type="text" name="apellidos" class="form-control" [(ngModel)]="model.apellidos" #apellidos="ngModel"
			[ngClass]="{ 'is-invalid': userForm.submitted && apellidos.invalid }" required>
		  <div class="invalid-feedback" *ngIf="userForm.submitted && apellidos.invalid">
			<p *ngIf="apellidos.errors.required">Campo requerido</p>
		  </div>
		</div>
	  
		<div class="form-group">
			<input placeholder="Email" id="fondoBlanco" type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
			  [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" email required>
			<div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
			  <div *ngIf="email.errors.required">Campo requerido</div>
			  <div *ngIf="email.errors.email">Debe ser un Email válido</div>
			</div>
		  </div>

		<div class="form-group">
			<input placeholder="Confirmar Email" id="fondoBlanco" type="email" class="form-control" name="reEmail" [(ngModel)]="model.email" #email="ngModel"
		  	[ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" email required>
			<div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
		  	<div *ngIf="email.errors.required">Campo requerido</div>
		  	<div *ngIf="email.errors.email">Debe ser un Email válido</div>
			</div>
		</div>
	  
		<div class="form-group">
			<input placeholder="Nombre de empresa o autónomo" id="fondoBlanco" type="text" name="namePers" class="form-control" [(ngModel)]="model.namePers" #namePers="ngModel"
			  [ngClass]="{ 'is-invalid': userForm.submitted && namePers.invalid }" required>
			<div class="invalid-feedback" *ngIf="userForm.submitted && namePers.invalid">
			  <p *ngIf="namePers.errors.required">Campo requerido</p>
			</div>
		  </div>

		  <div class="form-group" style="float: left; width: 50%;" >
			<input placeholder="NIF de empresa o autónomo" type="text" name="nif" id="textoDoble"  class="form-control" [(ngModel)]="model.nif" #nif="ngModel"
			  [ngClass]="{ 'is-invalid': userForm.submitted && nif.invalid }" required>
			<div class="invalid-feedback" *ngIf="userForm.submitted && nif.invalid">
			  <p *ngIf="nif.errors.required">Campo requerido</p>
			</div>
		  </div>

		  
		  <div class="form-group" style="float: left; width: 50%;">
			<input placeholder="Código postal" type="text" name="cp" id="textoDoble" class="form-control" [(ngModel)]="model.cp" #cp="ngModel"
			  [ngClass]="{ 'is-invalid': userForm.submitted && cp.invalid }" required>
			<div class="invalid-feedback" *ngIf="userForm.submitted && cp.invalid">
			  <p *ngIf="cp.errors.required">Campo requerido</p>
			</div>
		  </div>

		  <div id="captcha">
			<ngx-recaptcha2 #captchaElem [siteKey]="siteKey">
			</ngx-recaptcha2>
		</div>

		<input type="checkbox" id="checkbox" value="checkbox"> <label>He leído las &nbsp;</label><label id="letrasAmarillas">condiciones generales</label>

		  <div class="form-group">
			<button class="btn btn-ttc btn-block">Suscribirme</button>
		</div>

	  </form>
</div>
